.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.chat-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff; /* bright blue header */
  padding: 5 px;
  border-radius: 8px 8px 0 0; /* rounded top corners */
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.chat-container {
  width: 440px;
  height: 550px;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.user {
  background-color: #007bff;
  color: white;
  text-align: right;
}

.bot {
  background-color: #c7c4c4a9;
  text-align: left;
}

.input-area {
  display: flex;
}

.input-area input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.input-area button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
